<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{../static/css/js/tailwind.config.js}"></script>
    <title>Inicio</title>
</head>
<body class="w-full h-auto flex flex-col ">
<section  class="w-full h-[100vh] flex flex-col justify-between">
    <header th:insert="./fragments/header :: header"></header>
    <article th:replace="./fragments/login :: login" ></article>
    <footer th:insert="./fragments/footer :: footer" class="w-full h-auto"></footer>
</section>
</body>
</html>